.whitea{
    text-decoration:none;
    color: white;
}
.blacka{
    text-decoration:none;
    color: black;  
}
.text{
    font-family: "aileron", sans-serif;
    font-weight: 400;
    font-style: normal;
}
.texthead{
    font-family: "aileron", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 17px;
    color: white;
}
.textsubhead{
    font-family: "aileron", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 17px;
    color: black;
    white-space: nowrap;
}
.bottomtext{
    font-size: 13px;
    color: white;
    font-family: "aileron", sans-serif;
    font-weight: 400;
    font-style: normal;
    text-align: center;
    
}
.bottoma{
    text-decoration: none;
    color: white;
}
 .bottomtext a:hover{
    text-decoration: underline;
}
.hover:hover{
    background-color: #A3DCFE;
}
.hover{
    text-decoration: none;
    color: black;
}
.maintext{
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: "aileron", sans-serif;
    font-weight: 700;
    font-style: normal;
    text-align: left;
}
.container{
    position: relative;
}
.ifield{
    background-color:#EDEDED;
    border:none
}
.iconhead{
    word-spacing: 2px;
}
.view{
   background-color: #3CA4E3;
   color: #02016E;
   width: 100px;
   height: 30px;
   border-radius: 20px;
   border: none;
   font-size: 13px;
   font-weight: bold;
   box-shadow: 0 2px #02016E;
   margin-left: 70px;
   margin-top: 13px;
}
.head{
    text-align: center;
    color:#02016E;
    font-weight: bold;
    padding-top: 30px;
    
}
.body{
    padding-left: 30px;
    padding-right: 20px;
    word-spacing: 2px;
    line-height: 20px;
}
.head1{
    color:#404040;
    font-weight: bold;
    padding-top: 30px;
    font-size: 22px;
    padding-left: 30px;
    
}
